:root {
  --dark: #343a40;
  --gauge-color: #bac8ff;
  --darktheme-glow: #22b8cf;
  --button-hover: teal;
}

.App {
  transition: all 0.5s;
}

.main {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.dark {
  background: var(--dark);
  color: white;
}

.dark input {
  color: white;
  border: white;
}

sup {
  margin-left: 2px;
}
