:root {
  --dark: #343a40;
  --gauge-color: #bac8ff;
  --darktheme-glow: #22b8cf;
  --button-hover: teal;
}

.App {
  transition: all 0.5s;
}

.main {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.dark {
  background: var(--dark);
  color: white;
}

.dark input {
  color: white;
  border: white;
}

.dark .MuiInput-underline::before {
  border-bottom: white;
}

.toggle-buttons {
  position: absolute;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  right: 10px;
  padding: 15px;
}

.current-time {
  margin: 15px 10px;
}

.sun-info {
  display: flex;
  flex-direction: row;
}

.sun-info__data {
  margin: 10px auto;
}

.sun-info__gauge {
  height: 15vw;
  width: 15vw;
  min-height: 100px;
  min-width: 100px;
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: last baseline;
  border: var(--gauge-color) solid 1.5vw;
  border-radius: 50%;
  transition: all 0.5s;
}

.sun-info__marker {
  height: 1vw;
  width: 1vw;
  border-radius: 50%;
  transform: translateY(1.75vw);
}

.sun-info__block {
  position: relative;
}

.inputs {
  margin: 15px 10px;
}

.MuiTypography-root {
  padding-top: 25px;
}

sup {
  margin-left: 2px;
}

.inputs {
  margin: 35px;
}

.toggle-theme,
.toggle-lang {
  display: block;
  margin: 10px 0;
  padding: 10px;
  background: transparent;
  border: black solid 2px;
  border-radius: 7px;
  cursor: pointer;
}

.toggle-theme:hover,
.toggle-lang:hover {
  background-color: var(--button-hover);
  color: white;
  border: white solid 2px;
}

.dark .toggle-theme,
.dark .toggle-lang {
  margin: 10px 0;
  padding: 10px;
  background: transparent;
  color: white;
  border: white solid 2px;
  border-radius: 7px;
  cursor: pointer;
}

.dark .toggle-theme:hover,
.dark .toggle-lang:hover {
  color: var(--darktheme-glow);
  border: var(--darktheme-glow) solid 2px;
  box-shadow: var(--darktheme-glow) 0 0 5px;
  text-shadow: var(--darktheme-glow) 0 0 5px;
}

@media (max-width: 540px) {
  .current-time {
    align-self: flex-start;
  }
  .toggle-buttons {
    flex-direction: row;
    margin: 0;
    padding: 0;
    top: 10px;
  }
  .toggle-theme,
  .toggle-lang,
  .dark .toggle-theme,
  .dark .toggle-lang {
    margin-top: 0;
    margin-left: 10px;
  }

  .sun-info__marker {
    border: white solid 40px;
  }
}
